Component({
  properties: {
    // #names#
    name: {
      type: String,
    },
    // string | string[]
    color: {
      type: null,
      observer: function(color, originalColor) {
        if (color !== originalColor) {
          this.setData({
            colorIsString: typeof color === 'string',
          });
        }
      }
    },
    size: {
      type: Number,
      value: #size#,
    },
  },
  data: {
    quot: '"',
    colorIsString: false,
  },
});
